[Unit]
Description=Gauge
After=multi-user.target

[Service]
WorkingDirectory=/home/linkage
ExecStart=/usr/bin/gauge
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target