[Unit]
Description=Carburator
After=multi-user.target

[Service]
ExecStart=/usr/bin/carburator
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
