[Unit]
Description=Carburetor
After=multi-user.target

[Service]
# TODO: Create custom user for running linkage processes
User=pi
ExecStart=/usr/bin/carburetor
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
