[Unit]
Description=Linkage Service
Requires=linkage.socket

[Service]
Type=simple
# TODO: Create custom user for running linkage processes
User=linkage
ExecStart=/home/pi/robot_code/main
StandardInput=socket
StandardError=journal  
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target