[Unit]
Description=Linkage Service
Requires=linkage.socket

[Service]
Type=simple
# FIXME: Create custom user for running linkage processes
User=pi
ExecStart=/usr/bin/node /home/pi/robot_code/build/main.js
StandardInput=socket
StandardError=journal  
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target